/*
Theme Name: Des Lalor
Theme URI: ****************
Description: Main Theme
Version: 1.0
Author: 
Author URI: 
*/

/* 

COLOURS 

	

*/

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=e24f14aa-509c-4b31-b33f-5d712eec8cae&fontids=1572247");
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=e24f14aa-509c-4b31-b33f-5d712eec8cae&fontids=1572263");

@font-face{
	font-family:"Frutiger LT W04_65 Bold";
	src:url("fonts/1572263/92fb90f3-a8af-48d1-aac0-52c736cdc532.eot?#iefix");
	src:url("fonts/1572263/92fb90f3-a8af-48d1-aac0-52c736cdc532.eot?#iefix") format("eot"),url("fonts/1572263/63541a87-effb-4b23-a1e5-aded6ef8e33d.woff2") format("woff2"),url("fonts/1572263/ede01147-5581-4d28-afc0-303f4c771fd2.woff") format("woff"),url("fonts/1572263/a098af66-fef8-439d-abf2-0d61674a33f9.ttf") format("truetype");
}

@font-face{
	font-family: "Frutiger LT W04_45 Light";
	src:url("fonts/1572247/53595583-8a9c-4c63-9220-f4d1c3364a9d.eot?#iefix");
	src:url("fonts/1572247/53595583-8a9c-4c63-9220-f4d1c3364a9d.eot?#iefix") format("eot"),url("fonts/1572247/93b7d028-28f3-473a-821f-7a139c59305a.woff2") format("woff2"),url("fonts/1572247/1f5eb399-3fe2-4a88-946d-1621c81da877.woff") 					format("woff"),url("fonts/1572247/8ae8c829-0376-410b-8c6a-92503273d37e.ttf") format("truetype"),url("fonts/1572247/cef7e2f4-0828-4b0f-bf6a-9196e318ca15.svg#cef7e2f4-0828-4b0f-bf6a-9196e318ca15") format("svg");
}

@import "css/layout.css";

/*  ==========================================================================
	Reset
	========================================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	  	margin: 0;
	  	padding: 0;
	  	border: 0;
	  	outline: 0;
	  	line-height: inherit;
	  	font-weight: inherit;
	  	font-style: inherit;
	  	font-size: 14px;
	  	letter-spacing: 0.5px;
	  	font-family: "Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
	  	vertical-align: baseline;
	}

/*  ==========================================================================
	Miscellaneous Styles
	========================================================================== */
	::-moz-selection {
		background-color: #ce2933;
		color: #FFF;
		text-shadow: none;
	}
	::selection {
		background-color: #ce2933;
		color: #FFF;
		text-shadow: none;
	}
	::-webkit-input-placeholder {
	   color:  #9b9b9b;
	}
	:-moz-placeholder { /* Firefox 18- */
	   color:  #9b9b9b;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color:  #9b9b9b;  
	}
	:-ms-input-placeholder {  
	   color: #9b9b9b;  
	}

/*  ==========================================================================
	Typography
	========================================================================== */
	html,
	body {
		overflow-x: hidden;
	}
	html {
		font-size: 100%;
	    min-height:100%;
	}
	body {
	     min-height:100%;
	     background-color: #ffffff;
	     -webkit-font-smoothing: antialiased;
		 -moz-osx-font-smoothing: grayscale;
	}
	p, address, blockquote, pre, h1, h2, h3, h4, h5, h6 {
		margin-bottom: 40px;
		color: #51565d;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #114279;
		margin-bottom: 25px;
		font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	}
	h1 {
		font-size: 38px;
		line-height: 44px;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 38px;
		line-height: 44px;
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
		letter-spacing: 0.5px;
	}
	h3 {
		font-size: 32px;
		line-height: 38px;
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
	}
	h4 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
	}
	h5 {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	h6 {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 10px;
	}
	p, blockquote, li {
		font-style: normal;
		font-size: 20px;
		line-height: 28px;
		color: #48596e;
	}
	blockquote p {
		margin: 0;
		font-weight: bold;
		font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	}
	blockquote, .debug {
		width: 94%;
		padding: 3%;
		color: #F2F2F2;
	}
	figure {
		margin: 0;
		overflow: hidden;
	}
	figure img {
		max-width: 100%;
		height: auto;
	}
	article ul,
	article ol {
		margin-left: 25px;
		margin-bottom: 20px;
	}
	article ul li {
		list-style: disc;
	}
	article ol li {
		list-style: decimal;
	}
	article *:last-child {
		margin-bottom: 0;
	}
	article figure {
		margin-bottom: 20px;
	}
	article figure.relative {
		margin-bottom: 0;
	}
	a {
		text-decoration: none; 
		font-size: inherit; 
		font-family: inherit; 
		font-weight: bold;
		font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
		color: #fff;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		letter-spacing: 0.5px;
	}
	a:hover {
		color: #fff;
	}
	input[type="checkbox"], input[type="radio"] {
		margin: 0 10px 10px 0;
		 -webkit-appearance: checkbox;
	}
	img {
		display: block;
		max-width: 100%;
	}
	span {
		font-weight: inherit;
		font-size: inherit;
		font-family: inherit;
	}
	strong {
		font-size: inherit;
		font-weight: bold;
		font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	}
	i {
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	input {
		border-radius: 0;
	    -webkit-appearance: none;
	}
		
/*  ==========================================================================
	Clearfix
	========================================================================== */
	.cf:before,
	.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	.cf:after {
	    clear: both;
	}
	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.cf {
	    *zoom: 1;
	}	
	.clear {
		clear: both;
	}

/*  ==========================================================================
	Utility Classes
	========================================================================== */
	.left,
	.alignleft {
		float: left;
	}
	.right,
	.alignright {
		float: right;
	}
	.centered {
		text-align: center;
	}
	.col3 {
		width: 33.3333333%;
	}
	.col23 {
		width: 66.6666666%;
	}
	.col4 {
		width: 25%;
	}
	.last {
		margin-right: 0;
	}
	.col-half {
		width: 50%;
	}
	.button,
	.wpcf7-submit,
	.button-wrapper a {
		color: #fff !important;
		display: inline-block;
		zoom:1; *display: inline; _height: 51px;
		margin: 0 auto;
		padding: 16px 26px;
		min-width: 140px;
		border: none !important;
		font-size: 25px;
		line-height: 16px;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		background-color: #ce2933;
		cursor: pointer;
		/*font-weight: bold;*/
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
		text-align: center !important;
		outline: none;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.button.lightblue {
		background-color: #dbe8f7;
		color: #114279 !important; 
	}
	.button:hover,
	.button:focus,
	.wpcf7-submit:focus,
	.wpcf7-submit:hover,
	.button-wrapper a:hover,
	.button-wrapper a:focus {
		color: #fff !important;
		background-color: #114279 !important;
	}
	.white-bg .button:hover,
	.white-bg .button:focus,
	.white-bg .button-wrapper a:hover,
	.white-bg .button-wrapper a:focus,
	.white-bg .wpcf7-submit:hover,
	.white-bg .wpcf7-submit:focus,
	.slider-content .button:hover,
	.slider-content .button:focus {
		color: #fff !important;
		background-color: #114279 !important;
	}
	.hidden {
		display: none;
	}
	.table {
		display: table;
	}
	.v-h-center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}
	.browser-height {
		height: 100%;
		height: 100vh;
	}
	.cover-bg {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.small-padding {
		padding: 40px 0;
	}
	.large-padding {
		padding: 100px 0;
	}
	.inline-content {
		vertical-align: middle;
	}
	.alignleft {
		margin: 0 60px 40px 0;
	}
	.alignright {
		margin: 0 0 40px 60px;
	}
	.relative {
		position: relative
	}
	.width-60 {
		width: 60%;
	}
	.two-columns {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	}
	.bottom-margin {
		margin-bottom: 20px;
	}
		
/*  ==========================================================================
	Colours
	========================================================================== */		
	.navy-bg {
		background-color: #114279;
	}
	.navy-bg *,
	.med-blue-bg * {
		color: #fff;
	}
	.lightblue-bg {
		/* background-color: #c1ddfc;  original colour */
		background-color: #bed2e9;
	}
	.lightblue-bg a {
		color: #114279;
	}
	.lightblue-bg a:hover,
	.lightblue-bg a:focus {
		color: #51565d !important;
	}
	.light-grey-bg {
		background-color: #e7e7e7;
	}	
	.red-highlight {
		color: #ce2933;
	}
	.white-bg  {
		background-color: #fff;
	}
	.white-bg * {
		color: #114279;
	}
	.white-bg li,
	.white-bg p,
	.white-bg .intro {
		color: #51565d;
	}
	.white-bg a:hover,
	.white-bg a:focus {
		color: #51565d
	}
	.med-blue-bg {
		background-color: #356aa5;
	}
	
/*  ==========================================================================
	Wrappers
	========================================================================== */	
	.outer-wrapper {
		width: 90%;
		max-width: 1600px;
		margin: 0 auto;
	}
	.wrapper {
		width: 90%;
		max-width: 1360px;
		margin: 0 auto;
	}
	.page-block {
		
	}
	.intro-block.inner-padding {
		padding: 70px 0;	
	}
	.intro,
	.gform_description {
		font-size: 27px;
		line-height: 30px;
		letter-spacing: 0px;
	}
	.grid cf {
		position: relative;
		height: 3418.58px;
	}

/*  ==========================================================================
	Site Header
	========================================================================== */
	#secondary-navigation {
		text-align: right;
		position: relative;
		top: 0;
		z-index: 4100;
		width: 100%;
	}
	.home #secondary-navigation {
		position: absolute;
	}
	#secondary-navigation .menu li {
		display: inline-block;
		zoom:1; *display: inline; _height: 44px;
		margin: 5px 0;
		vertical-align: middle;
		line-height: 16px;
	}
	#secondary-navigation .menu li a {
		display: block;
		padding: 8px 24px 8px 20px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
		border-right: 1px solid #3c6491;	
	}
	#secondary-navigation.lightblue-bg .menu li a {
		color: #114279;	
	}
	#secondary-navigation .menu li a:hover,
	#secondary-navigation .menu li a:focus,
	#secondary-navigation .menu li.current-menu-item a,
	#secondary-navigation .menu li.current-our-properties-ancestor a,
	.post-type-archive-testimonials #secondary-navigation.lightblue-bg #menu-item-107 a {
		color: #578cc6;
	}
	#secondary-navigation .menu li:last-child a {
		border-right: none;
	}
	#secondary-navigation #menu-item-109 a:before {
		content: "\f015";
		font-family: FontAwesome;
		font-size: 19px;
		color: #fff;
		margin-right: 10px;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	#secondary-navigation #menu-item-108 a:before {
		content: "\f153";
		font-family: FontAwesome;
		font-size: 19px;
		color: #fff;
		margin-right: 10px;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	#secondary-navigation.lightblue-bg #menu-item-108 a:before,
	#secondary-navigation.lightblue-bg #menu-item-109 a:before {
		color: #114279;
	}
	#secondary-navigation #menu-item-109 a:hover:before,
	#secondary-navigation #menu-item-109 a:focus:before,
	#secondary-navigation #menu-item-108 a:hover:before,
	#secondary-navigation #menu-item-108 a:focus:before,
	#secondary-navigation .menu li.current-menu-item a:before {
		color: #578cc6
	}
	#secondary-navigation.lightblue-bg #menu-item-109 a:hover:before,
	#secondary-navigation.lightblue-bg #menu-item-109 a:focus:before,
	#secondary-navigation.lightblue-bg #menu-item-108 a:hover:before,
	#secondary-navigation.lightblue-bg #menu-item-108 a:focus:before {
		color: #578cc6;
	}
	#secondary-navigation.lightblue-bg .menu li.current-menu-item a:before,
	#secondary-navigation .menu li.current-our-properties-ancestor a:before {
		color: #578cc6 !important;
	} 
	
	#site-header {
		padding: 20px 0;
		z-index: 4000;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	#site-header.fixed {
		position: fixed;
		margin-top: 0;		
	}
	#site-header.fixed.reduced {
		padding: 10px 0;
	}
	.home #site-header {
		margin-top: 0;
	}
	.logo-link {
		width: 205px;
		height: auto;
		display: block;
	}
	#site-header.fixed.reduced .logo-link {
		width: 170px;
	}
	.logo-link img {
		width: 100%;
		height: auto;
		display: block;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.logo-link:hover img,
	.logo-link:focus img {
		opacity: 0.4;
	}
	#mobile-menu-toggle {
		display: none;
		float: right;
		font-size: 30px;
		line-height: 34px;
		margin-top: 6px;
	}
	.menu-home-primary-menu-container {
		float: right;
		text-align: right;
	}
	.menu-home-primary-menu-container .menu {
		
	}
	.menu-home-primary-menu-container .menu li {
		display: inline-block;
		zoom:1; *display: inline; _height: 52px;
		padding: 0 20px;
		position: relative;
	}
	.menu-home-primary-menu-container .menu li:last-child {
		padding-right: 0;
	}
	.menu-home-primary-menu-container .menu li a {
		display: block;
		padding: 17px 0px;
		text-transform: uppercase;
		position: relative;
		font-size: 17px;
		line-height: 18px;
	}
	.menu-home-primary-menu-container .menu li.current-menu-item > a:after {
		content: "";
		height: 1px;
		background-color: #578cc6;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0;
	}
	.navy-bg a:hover,
	.navy-bg a:focus,
	.menu-home-primary-menu-container .menu li.current-menu-item > a {
		color: #578cc6;
	}	
	#site-header.fixed.reduced .menu-home-primary-menu-container .menu li a {
		padding: 13px 0px;
	}
	.menu-home-primary-menu-container .menu li .sub-menu {
		display: none;
		position: absolute;
		top: 100%;
		bottom: auto;
		border-top: 20px solid #114279;
		border-bottom: none;
		left: 50%;
		margin-left: -100px;
		background-color: #356aa5;
		width: 200px;
		text-align: left;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.home .menu-home-primary-menu-container .menu li .sub-menu {
		display: none;
		position: absolute;
		bottom: 100%;
		top: auto;
		left: 50%;
		margin-left: -100px;
		background-color: #356aa5;
		width: 200px;
		text-align: left;
		border-top: none;
		border-bottom: 20px solid #114279;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.home .reduced .menu-home-primary-menu-container .menu li .sub-menu {
		top: 100%;
		bottom: auto;
		border-top: 20px solid #114279;
		border-bottom: none;
	}
	.menu-home-primary-menu-container .menu li .sub-menu .sub-menu {
		right: 100%;
		left: auto;
		bottom: auto;
		top: 0;
		margin-left: 0;
		border-top: none;
		background-color: #4378b3;
		border: none;
	}
	.home .menu-home-primary-menu-container .menu li .sub-menu .sub-menu {
		top: auto;
		right: 100%;
		left: auto;
		bottom: 0;
		margin-left: 0;
		border-top: none;
		background-color: #4378b3;
		border: none;
	}
	.home .reduced .menu-home-primary-menu-container .menu li .sub-menu .sub-menu {
		bottom: auto;
		top: 0;
	}
	.menu-home-primary-menu-container .menu li .sub-menu:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 9px 9px;
		border-color: transparent transparent #3569a5 transparent;
		position: absolute;
		top: -9px;
		bottom: auto;
		left: 50%;
		margin-left: -9px;
	}
	.home .menu-home-primary-menu-container .menu li .sub-menu:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 9px 0 9px;
		border-color: #3569a5 transparent transparent transparent;
		position: absolute;
		bottom: -9px;
		top: auto;
		left: 50%;
		margin-left: -9px;
	}
	.home .reduced .menu-home-primary-menu-container .menu li .sub-menu:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 9px 9px;
		border-color: transparent transparent #3569a5 transparent;
		position: absolute;
		top: -9px;
		bottom: auto;
		left: 50%;
		margin-left: -9px;
	}
	.menu-home-primary-menu-container .menu li .sub-menu .sub-menu:after {
		display: none;
	}
	#site-header.fixed.reduced .menu-home-primary-menu-container .menu > li > .sub-menu  {
		border-top: 10px solid #114279;
	}
	.menu-home-primary-menu-container .menu li .sub-menu li {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.menu-home-primary-menu-container .menu li .sub-menu li:last-child {
		border-bottom: hidden;
	}
	.menu-home-primary-menu-container .menu li:hover > .sub-menu,
	.menu-home-primary-menu-container .menu li:focus > .sub-menu {
		display: block;
	}
	
	
	#side-navigation {
		display: none;
	}
	#allcontent,
	#side-navigation  {
		-webkit-transition: all 0.5s ease-in-out 0s;
		-moz-transition:all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;
	}
	.selected,
	#side-navigation.selected {
		-webkit-transform: translateX(-320px);
		-moz-transform: translateX(-320px);
		-ms-transform: translateX(-320px);
		-o-transform: translateX(-320px);
		transform: translateX(-320px);
	}
	#allcontent-wrapper.selected .site-header {
		position: absolute;
	}
	#side-navigation {
		position: fixed;
		-webkit-transform: translateZ(0px);
		-webkit-backface-visibility: hidden;
		height: 100%;
		top: 0;
		bottom: 0;
		width: 320px;
		right: -320px;
		overflow: scroll;
		padding-bottom: 50px;
		background-color: #114279;
		z-index: 1000;
		display: block;
		z-index: 9999;
	}
	#side-navigation .menu {
		margin-bottom: 40px;
	}
	#side-navigation #secondary-navigation {
		margin-bottom: 0px;
	}
	#side-navigation #navigation-wrapper {
		background-image: none !important;
		background-color: #25303b;
		margin-bottom: 50px;
	}
	#side-navigation .menu-primary-navigation-container {
		float: none;
		margin-top: 71px;
	}
	#side-navigation .menu-primary-navigation-container {
		height: 100%;
		overflow-y: scroll;
	}
	#side-navigation h3 {
		margin: 33px 20px 10px;	
	}
	#side-navigation > .menu,
	#side-navigation .menu .menu-primary-navigation-container {
		display: block;
		z-index:9999;
	}
	#side-navigation .menu-primary-navigation-container ul li {
		display: block;		
		margin-left: 0;	
	}
	#side-navigation .menu-primary-navigation-container ul li a {
		display: block;
		padding: 7px 10px;
		color: #fff;
		line-height: 30px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		height: auto;
		width: auto;
	}
	#side-navigation .menu-primary-navigation-container ul li .sub-menu {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		-webkit-transform: none;
	    -ms-transform: none;
	    transform: none;
	    opacity: 1;
	    z-index: inherit;
	    background-color: rgba(0,0,0,0.2);
	    text-align: left;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	}
	#side-navigation .menu-primary-navigation-container ul li .sub-menu li a {
		padding: 7px 20px
	}
	#side-navigation .menu-primary-navigation-container .menu li a:hover, 
	#side-navigation .menu-primary-navigation-container .menu li a:focus, 
	#side-navigation .menu-primary-navigation-container .menu li.current-menu-item > a, 
	#side-navigation .menu-primary-navigation-container .menu li.current_page_ancestor > a, 
	#side-navigation .menu-primary-navigation-container .menu li.current_page_parent > a,
	#side-navigation .menu-primary-navigation-container .menu li .sub-menu li:hover a, 
	#side-navigation .menu-primary-navigation-container .menu li .sub-menu li:focus a {
		color: #fff;
		background-color: #ec6408;
		margin: 0;
	}
	#side-navigation .menu-primary-navigation-container .menu li .sub-menu li.current-menu-item a {
		background-color: rgba(0,0,0,0.3);
	}
	#close-toggle {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 30px;
		line-height: 34px;
		color: #fff;
		z-index: 8000;
	}
	#menu-toggle {
		display: none;
		float: right;
	}
	#side-navigation  .wrapper {
		width: 100%;
	}
	
	
/*  ==========================================================================
	Home Slider
	========================================================================== */
	#fullheight-slider {
		min-height: 80vh;
	}
	#fullheight-slider .wrapper {
		height: 100%;
		position: relative;
	}
	#fullheight-slider .slick-dots {
		display: none !important;
	}
	.slider-content {
		top: 225px;
		right: 0;
		position: absolute;
		text-align: right;
	}
	.slider-content * {
		clear: right;
	}
	.slider-content h2 {
		float: right;
		margin-bottom: 40px;
		font-size: 44px;
		line-height: 52px;
		max-width: 600px;
		font-family: "Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
	}
	.slider-content h4 {
		margin-bottom: 5px;
		color: #114279;
		font-size: 21px;
		line-height: 22px;
		font-weight: bold;
	}
	.slider-content .button {
		clear: right;
		float: right;
	}	
	.slickslider {
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out 0s;
			-moz-transition: all 0.3s ease-in-out 0s;
				-o-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
	}
	.slickslider.slick-initialized {
		opacity: 1;
	}
	.slick-arrow {
		z-index: 100;
		cursor: pointer;
		font-size: 80px !important;
		opacity: 0.6;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		      transform: translateY(-50%);
	}
	.slickcarousel .slick-arrow {
		color: #fff;
	}
	.slick-prev {
		left: 20px;
	}
	.slick-next {
		right: 20px;
	}
	.slick-arrow:hover,
	.slick-arrow:focus {
		opacity: 1;
	}
	.parallax-banner {
		overflow: hidden;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #F3F3F3;
	}
	.faded.parallax-banner .parallax-image {
		opacity: 1;
	}
	.parallax-banner .parallax-image {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		-webkit-transition: opacity 0.3s ease-in-out 0s;
		-moz-transition: opacity 0.3s ease-in-out 0s;
		-o-transition: opacity 0.3s ease-in-out 0s;
		transition: opacity 0.3s ease-in-out 0s;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		height: auto;
		z-index: 100;
		min-width: 100%;
		max-width: none;
		z-index: 0;
		width: auto;
		min-height: 110%;
	}
	.csstransforms3d .parallax-banner .parallax-image {
		left: 50%;
	}
	.touch .parallax-banner .parallax-image {
		display: none;
	}
	.selling-title {
		background-image: url(images/property-selling-icon.png);
	}
	.sold-title {
		background-image: url(images/property-sold-icon.png);
	}
	.blog-title {
		background-image: url(images/blog-icon.png);
	}
	.icon-title {
		padding-top: 120px;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 85px auto;
		text-align: center;
		margin-bottom: 40px;
	}	
	.blog-title {
		margin-bottom: 70px;
	}
	#next-section-toggle {
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;	
		position: absolute;
		bottom: 60px;
		padding-bottom: 40px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		  -ms-transform: translateX(-50%);
		      transform: translateX(-50%);
	}
	#next-section-toggle:after {
		content: "\f107";
		font-family: FontAwesome;
		font-size: 30px;
		color: #fff;
		position: absolute;
		bottom: 0px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		  -ms-transform: translateX(-50%);
		      transform: translateX(-50%);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	#next-section-toggle:hover,
	#next-section-toggle:focus {
		bottom: 55px;
		padding-bottom: 35px;
	}

	
	
/*  ==========================================================================
	Property Carousel
	========================================================================== */		
	.selling-title-wrap {
		margin-top: 70px;
	}
	.slickcarousel .slick-slide {
		overflow: hidden;
	}
	.our-properties {
		overflow: hidden;
	}
	.our-properties img {
		width: 100%;
		height: auto;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		transform: scale(1.01);
	}
	.our-properties:hover img,
	.our-properties:focus img { 
		-webkit-transform: scale(1.04);
		-moz-transform: scale(1.04);
		transform: scale(1.04);
	}
	.property-preview {
		padding: 20px 170px 20px 30px;
		position: relative;
	}
	.property-status-sold .property-preview {
		padding-right: 30px;
		padding: 20px 35px 20px 30px;
	}
	.property-preview a {
		color: #fff;
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 22px;
	}
	.property-preview:after {
		content: "";
		position: absolute;
		right: 0;
		top: 15px;
		height: 40px;
		width: 3px;
		display: block;
		background-color: #577ea9;
	}
	.property-preview h3 {
		font-weight: bold;
		font-size: 22px;
		line-height: 24px;
		letter-spacing: 0.5px;
		color: #fff;
		margin-bottom: 0;
		display: inline-block;
		zoom:1; *display: inline; _height: 51px;
	}
	.col4 .property-preview h3 {
		font-size: 18px;
		line-height: 22px;
		width: 340px;
	}
	.property-preview .subtitle {
		color: #c9e1fb;
		font-size: 17px;
		line-height: 19px;
		display: inline-block;
		zoom:1; *display: inline; _height: 51px;
	}
	.col4 .property-preview .subtitle {
		font-size: 15px;
		width: 340px;
	}  
	.property-label {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.property-label span {
		background-color: #ce2933;
		color: #fff;
		font-size: 22px;
		line-height: 22px;
		padding: 10px 20px;
		text-transform: uppercase;
		font-weight: bold;
		font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	}
	.property-label a.fancybox-media {
		color: #fff;
		height: 42px;
		width: 42px;
		line-height: 42px;
		text-alignb: center;
		background-color: #fff;
		position: relative;
	}
	.property-label a.fancybox-media i {
		color: #ce2933;
		font-size: 27px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.property-label a.fancybox-media:hover,
	.property-label a.fancybox-media:focus {
		background-color: #ce2933;
	}
	.property-label a.fancybox-media:hover i,
	.property-label a.fancybox-media:focus i {
		color: #fff;
		
	}
	.property-status-sold:hover .property-label,
	.property-status-sold:focus .property-label {
		opacity: 0;
	}
	.slickcarousel-header {
		position: relative;
	}
	.property-button {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.subtitle {
		margin: 4px 0 0;
		display: block;
	}
	.property-status-sold h3 {
		margin-right: 10px;
	}
	.price {
		background-color: #356aa5;
		color: #fff;
		padding: 10px 20px;
		font-size: 22px;
		line-height: 22px;
		position: absolute;
		display: block;
		right: 0;
		bottom: 0;
		font-weight: bold;
	}
	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.fadeover {
		z-index: -1;
		opacity: 0;
		top: 0;
		background-color: rgba(53, 106, 165, .95);
	}
	.slickcarousel .slick-slide:hover .fadeover,
	.property-status-sold:hover .fadeover {
		z-index: 100;
		opacity: 1;
		/*background-color: rgba(0, 0, 255, 0.6);*/
	}
	.slide-overlay-inner:before {
		content: '';
    	display: none;
    	width: 77px;
    	height: 77px;
    	border-radius: 50%;
    	background: #5a87b4 url(images/quote2.png) center center no-repeat;
    	margin: 0 auto 35px auto;
	}
	.slide-overlay-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.slide-overlay-inner p {
		max-width:80%;
		margin: 0 auto;
		color: #fff;
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		position: relative;
	}
	.col4 .slide-overlay-inner p {
		font-size: 17px;
		line-height: 25px;
	}
	.col4 .slide-overlay-inner img {
		width: 50px !important;
	}
	.slide-overlay-inner p:after {
		content: "";
		height: 2px;
		width: 100px;
		background-color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		  -ms-transform: translateX(-50%);
		      transform: translateX(-50%);
	}
	.slide-overlay-inner img {
		display: block;
		margin: 0 auto 20px !important;
		width: auto !important;
	}
	.slide-overlay-inner .read-more {
		text-transform: uppercase;
		color: #ffffff;
		font-size: 20px;
	}

	
/*  ==========================================================================
	Related blog posts
	========================================================================== */	
	.col3 .inner-padding {
		padding: 0 15%;
	}
	.related-posts-wrap article h2 {
		font-size: 26px;
		line-height: 30px;
		font-weight: normal;
		padding-left: 70px;
		position: relative;
		min-height: 50px;
		margin-bottom: 30px;
	}
	.related-posts-wrap article h2:before {
		content:"";
		height: 50px;
		width: 50px;
		background-image: url(images/related-blog-icon.jpg);
		background-repeat: no-repeat;
		background-size: 50px 50px;
		position: absolute;
		display: block;
		left: 0;
		top: 7px;
	}
	
	
/*  ==========================================================================
	Map Block
	========================================================================== */		
	#map-block {
		
	}
	#map-block .map-wrapper {
		width: 60%;
	}
	#map-block .map-content {
		width: 40%;
	}
	.map-content-inner {
		width: 100%;
		max-width: 430px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 40px 45px;
	}
	.map-content-inner .intro {
		line-height: 34px;
		font-size: 24px;
	}
	.map-content-inner a,
	.font-sized {
		display: block;
		font-size: 17px;
		line-height: 28px;
	}
	.map-content-inner a:hover,
	.map-content-inner a:focus {
		color: #c9e1fb
	}
	.map-content-inner .button {
		display: inline-block;
		zoom:1; *display: inline; _height: 51px;
	}
	.acf-map {
		width: 100%;
		height: 800px;
		margin: 0;
	}
	/* fixes potential theme css conflict */
	.acf-map img {
	   max-width: inherit !important;
	}	
	
/*  ==========================================================================
	Testimonial Block
	========================================================================== */		
	.white-notch {
		background-image: url('images/white-notch.png');
		background-repeat: no-repeat;
		background-position: center top;
	}
	.light-blue-notch {
		background-image: url('images/light-blue-notch.jpg');
		background-repeat: no-repeat;
		background-position: center top;
	}
	#testimonial-slider p {
		margin-bottom: 30px;
	}	
	#testimonial-slider .slick-slide,
	.testimonials-inner {
		padding: 0 180px;
		position: relative;
	}
	#testimonial-slider .slick-slide:before,
	#testimonial-slider .slick-slide:after,
	.testimonials-inner:before,
	.testimonials-inner:after {
		content: "";
		position: absolute;	
		height: 77px;
		width: 77px;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	#testimonial-slider .slick-slide:before,
	.testimonials-inner:before {
		top: -20px;
		left: 100px;
		background-image: url(images/quote-open.png);
	}
	#testimonial-slider .slick-slide:after,
	.testimonials-inner:after {
		bottom: 45px;
		right: 100px;
		background-image: url(images/quote-close.png);
	}
	#testimonial-slider .slick-arrow {
		display: none !important;
	}
	#testimonial-slider .button {
		margin-top: 30px;
	}
	#testimonial-slider .slick-dots {
		position: absolute;
		bottom: -100px;
		text-align: center;
		width: 100%;
	}
	#testimonial-slider .slick-dots li {
		display: inline-block;
		zoom:1; *display: inline; _height: 12px;
		margin: 0 4px;
	}
	#testimonial-slider .slick-dots li button {
		display: block;
		height: 12px;
		width: 12px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		border: 2px solid #114279;
		padding: 0;
		background-color: transparent;
		text-indent: -9999px;
		overflow: hidden;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		outline: none;
		cursor: pointer;
	}
	#testimonial-slider .slick-dots li button:hover,
	#testimonial-slider .slick-dots li button:focus,
	#testimonial-slider .slick-dots li.slick-active button {
		background-color: #114279;
	}
	.testimonial-author {
		display: block;
		margin: 20px 0 30px 0;
		font-size: 17px;
		color: #124074;
	}
	#testimonials-wrapper .button:hover,
	#testimonials-wrapper .button:focus {
		    color: #fff !important;
	}
	
	
/*  ==========================================================================
	Site Footer
	========================================================================== */	
	.areas-wrapper {
		margin-bottom: 100px;
	}
	.menu-areas-menu-container .menu li {
		list-style-type: none;
		width: 25%;
		float: left
	}
	.menu-areas-menu-container .menu li a {
		font-size: 15px;
	}
	.main-footer-menu {
		width: 33%;
	}
	.footer-address {
		width: 15%;
		font-size: 15px;
		line-height: 21px;
		font-family: "Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	}
	.footer-address strong {
		display: block;
		margin-bottom: 30px;
	}
	.footer-address-centre {
		margin-top: 20px;
    	text-align: center;
    	width: 100%;
	}
	#gform_wrapper_1 ul.gform_fields li.gfield {
		margin-top: 0 !important;
		padding-right: 0;
	}
	#gform_wrapper_1 .gform_footer input.button {
		width: 100%;
	}
	#contact-bar h3 {
		display: inline-block;
		zoom:1; *display: inline; _height: 50px;
		line-height: 48px;
		vertical-align: middle;
		margin-bottom: 0;
	}		
	#contact-bar .button {
		display: inline-block;
		zoom:1; *display: inline; _height: 50px;
		margin-left: 30px;
		vertical-align: middle;
	}
	#site-footer {
		padding: 70px 0 0;
	}
	#site-footer .menu-footer-menu-container {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		-moz-column-gap: 40px; /* Firefox */
		column-gap: 40px;
		margin-bottom: 60px;
	}
	#site-footer .menu-footer-menu-container li {
		list-style-type: none;
		margin-bottom: 30px;
	}
	#site-footer .menu-footer-menu-container li a {
		display: block;
		font-size: 15px;
		line-height: 21px;
	}
	.inner-footer-bar {
		padding-bottom: 20px;
	}
	.inner-footer-bar .logo-link {
		float: right;
		width: 100%;
		max-width: 200px;
	}
	.inner-footer-bar .col3.last {
		max-width: 315px;
		margin-top: -53px;
	}
	.inner-footer-bar .gform_body {
		width: 70%;
		float:left;
	}
	.inner-footer-bar .gform_footer {
		width: 30%;
		float: right;
		margin: 0 !important;
		padding: 0 !important;
		clear: none !important;
	}
	.address-bottom {
		margin: 35px 0 0 0;
		font-size: 18px !important;
		text-decoration: underline;
	}
	.iplanit-logo left .member {
		float: left;
	}
	body .gform_wrapper label.gfield_label+div.ginput_container {
		margin-top: 0 !important;
	}
	.inner-footer-bar .gform_footer .gform_button {
		padding: 0;
		height: 50px;
		min-width: 0;
		display: block !important;
		width: 100%;
	}
	.inner-footer-bar .col3.left {
		margin-top: -50px;
		margin-right: 1%;
	}
	.inner-footer-bar .col3 h3 {
		font-size: 24px;
		line-height: 28px;
	}
	.iplanit-logo {
		line-height: 26px;	
		margin-right: 30px;	
	}
	.iplanit-logo span {
		display: inline-block;
		zoom:1; *display: inline; _height: 26px;
		text-transform: uppercase;
		vertical-align: middle;
		font-size: 13px;
	}
	.iplanit-logo img {
		display: inline-block;
		zoom:1; *display: inline; _height: 26px;
		margin: 0 0 0 10px;
		vertical-align: middle;
		height: 16px;
		width: auto;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.iplanit-logo:hover img,
	.iplanit-logo:focus img {
		opacity: 0.6;
	}
	.menu-bottom-bar-menu-container {
		float: right;
	}
	.menu-bottom-bar-menu-container li {
		display: inline-block;
		zoom:1; *display: inline; _height: 28px;
		margin-bottom: 0;
		margin-left: 10px;
		padding-left: 18px;
		position: relative;
	}
	.menu-bottom-bar-menu-container li:first-child:after {
		display: none;
	}
	.menu-bottom-bar-menu-container li:after {
		content: "-";
		position: absolute;
		left: 0;
		top: 50%;
		color: #114279;
		-webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		      transform: translateY(-50%);
	}
	.menu-bottom-bar-menu-container li a {
		display: block;
		font-size: 15px;
	}
	.menu-bottom-bar-menu-container li.current-menu-item a {
		color: #578cc6;
	}
	#site-footer .inline-content span {
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
		color: #fff;
		font-size: 15px;
		vertical-align: middle;	
		margin-right: 10px;
	}
	#site-footer .social-links {
		display: inline-block;
		zoom:1; *display: inline; _height: 50px;
		vertical-align: middle;
	}
	#site-footer .social-links li {
		display: inline-block;
		zoom:1; *display: inline; _height: 50px;
	}
	#site-footer .social-links li a {
		display: block;
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		font-size: 30px;
	}
	#site-footer .social-links li a i {
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	#site-footer .social-links li.twitter a {
		background-color: #2aa9e0;
	}
	#site-footer .social-links li.facebook a {
		background-color: #204385;
	}
	#site-footer .social-links li.youtube a {
		background-color: #e64a41;
	}
	#site-footer .social-links li.linkedin a {
		background-color: #02669a;
	}
	#site-footer .social-links li.googleplus a {
		background-color: #d3352c;
	}
	#site-footer .social-links li a:hover,
	#site-footer .social-links li a:focus {
		background-color: #fff;
	}
	#site-footer .social-links li.twitter a:hover i,
	#site-footer .social-links li.twitter a:focus i {
		color: #2aa9e0 !important;
	}
	#site-footer .social-links li.facebook a:hover i,
	#site-footer .social-links li.facebook a:focus i {
		color: #204385;
	}
	#site-footer .social-links li.youtube a:hover i,
	#site-footer .social-links li.youtube a:focus i {
		color: #e64a41;
	}
	#site-footer .social-links li.linkedin a:hover i,
	#site-footer .social-links li.linkedin a:focus i {
		color: #02669a;
	}
	#site-footer .social-links li.googleplus a:hover i,
	#site-footer .social-links li.googleplus a:focus i {
		color: #d3352c;
	}
	#site-footer form  {
		text-align: right;
	}
	#site-footer form h3 {
		color: #fff;
		font-size: 25px;
		line-height: 30px;  
		margin-bottom: 5px;
	}
	#site-footer form p {
		margin-bottom: 10px;
	}
	#site-footer form .wpcf7-text {
		padding: 0 15px;
		line-height: 50px;
		border: none;
		font-size: 15px;
		width: 315px;
	}
	#site-footer form .wpcf7-submit {
		background-color: #ce2933;
		color: #fff !important;
	}
	#site-footer form .wpcf7-submit:hover,
	#site-footer form .wpcf7-submit:focus {
		background-color: #dbe8f7 !important;
		color: #114279 !important;
	}
	#site-footer.alertbar-margin {
		margin-bottom: 50px;
	}
	.areas-wrapper * {
		color: #fff;
	}
	.areas-wrapper .fa-search {
		font-size: 40px;
		color: #dbe8f7;
		margin-right: 20px;
	}
	.areas {
		min-height: 100px;
	}
		
	/* Alert Bar */
	.alertbar {
		position: fixed;
		bottom: 0;
		width: 100%;
		text-align: center;
		z-index: 2000;
	}
	.red-bg {
		background-color: #ce2933;
		padding: 10px 0;
	}
	.red-bg * {
		color: #fff;
	}
	.alert-text {
		font-size: 22px;
		line-height: 26px;
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
		margin-right: 30px;
	}
	.alert-contact {
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
	}
	.alert-contact li {
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
		list-style-type: none;
		margin: 0 20px;
	}
	.alert-contact li a {
		display: block;
		font-size: 24px;
		line-height: 30px;
	}
	.alert-contact li a i {
		margin-right: 10px;
	}
	

/*  ==========================================================================
	Inner Page
	========================================================================== */		
	#page-header {
		padding: 30px 0;
	}
	#page-header h1 {
		margin-bottom: 0;
	}
	#page-header .breadcrumbs {
		margin-bottom: 5px;
		font-size: 14px;
		color: #3c6da5;
	}
	#page-header .breadcrumbs span,
	#page-header .breadcrumbs a {
		color: #3c6da5;
		letter-spacing: 0.5px;
	}
	.block-padding {
		padding: 50px 0;
	}
	.thin-intro-text p {
		max-width: 800px;
		margin: 0 auto;
	}
	.thin-intro-text {
		margin-bottom: 40px;
	}
	.heading-icon {
		position: absolute;
		top: -42px;
		left: 50%;
		width: 72px;
			position: absolute;
			-webkit-transform: translateX(-50%);
		      -ms-transform: translateX(-50%);
		          transform: translateX(-50%);
		height: auto;
		margin-left: -36px;
	}
	.bordered-circle {
		border-style: solid;
		border-width: 40px;
		width: 180px;
		height: 180px;
		display: block;
		-webkit-border-radius: 200px;
		border-radius: 200px;
		margin: 0 auto 30px;
		position: relative;
	}
	.bordered-circle h3 {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 30px;
		line-height: 34px;
	}
	.column-wrapper li {
		float: left;
		vertical-align: middle;
		list-style-type: none;
		margin-bottom: 50px;
	}
	.column-wrapper li:nth-child(3n+1) {
		clear: left;
	}
	.column-wrapper li:first-child {
		margin-top: 0;
	}
	.column-wrapper li p {
		max-width: 80%;
		margin: 0 10%;
	}
	.centered img {
		margin: 0 auto;
	}
	#people li img {
		max-width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.width-34 {
		width: 75%;
		text-align: left;
	}
	.contact-form-wrap {
		width: 60%;
	}
	.profile-content p {
		    color: #c1ddfc;
	}
	.profile-content p .intro {
		color: #fff;
	}
	.profile-content p:last-child {
		margin-bottom: 0;
	}
	.width-14 {
		width: 20%;
	}
	.profile-contact .contact-details {
		text-align: left;
		border-left: 2px solid #4d7bae;
		padding-left: 40px;
	}
	.profile-contact .contact-details li {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
		line-height: 30px;
		margin-bottom: 10px;
		list-style-type: none;
	}
	.profile-contact .contact-details li a {
		color: #fff;
	}
	.profile-contact .contact-details li a:hover,
	.profile-contact .contact-details li a:focus {
		color: #7aa3d0;
	}
	.profile-contact .contact-details li i {
		height: 30px;
		width: 30px;
		text-align: center;
		line-height: 30px;
		color: #fff;
		background-color: #ce2933;
		margin-right: 10px;
	}
	.ui-tabs-nav {
		margin-bottom: 30px;
	}
	.ui-tabs-nav li {
		position: relative;
	}
	.ui-tabs-active:after {
		content: "";
		position: absolute;
		bottom: -30px;
		left: 50%;
		margin-left: -5px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #114279;
	}
	
	
	/* People blocks */
	.single-team-member {
		margin-bottom: 90px;
	}
	.profile-image {
		width: 15%;
		height: 100%;
	}
	.profile-image img {
		min-height: auto;
		min-width: 100%;
	}
	.profile-content {
		width: 60%;
		text-align: left;
		padding: 40px 30px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.profile-contact {
		width: 25%;
		padding: 40px 30px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	
/*  ==========================================================================
	Blog Page
	========================================================================== */	
	.single-featured-image {
		margin-bottom: 30px !important;
		width: 365px;
	}	
	.single-featured-image .post-date {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px 20px;
		background-color: #fff;
		font-size: 18px;
	}
	.post-thumbnail {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 3%;
		overflow: hidden;
	}
	.post-thumbnail img {
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.post-content h2 {
		font-size: 26px;
		line-height: 30px;
	}
	.post-content h2 a {
		font-weight: normal;
		font-size: 30px;
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
	}
	.post-date {
		font-size: 14px;
		color: #8a8a8a;
		display: block;
		line-height: 18px;
		margin-bottom: 10px !important;
	}
	#blog-wrapper article {
		margin-bottom: 40px;
	}
	.read-more {
		font-size: 16px;
		line-height: 20px;
		font-weight: normal;
	}
	
	
	/* Sidebar */
	.site-sidebar ul li {
		list-style-type: none;
	}
	.site-sidebar > ul > li {
		margin-bottom: 50px;
	}
	.site-sidebar > ul > li:last-child {
		margin-bottom: 0;
	}
	.site-sidebar > ul > li h3 {
		border-bottom: 4px solid #114179;
		font-size: 28px;
		line-height: 25px;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
	.site-sidebar > ul > li ul li {
		padding: 10px 0;
		border-bottom: 1px solid #cfd9e5;
	}
	.site-sidebar > ul > li ul li:last-child {
		border-bottom: none;
	}
	.site-sidebar > ul > li ul li a {
		font-weight: normal;
		font-size: 22px;
		color: #47515e;
    	cursor: pointer;
    	font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;
	}
	#searchform {
		border: 1px solid #c1ddfc;
		position: relative;
	}
	#searchform .screen-reader-text {
		display: none;
	}
	#searchform #s {
		padding: 16px 60px 17px 16px;
		line-height: 16px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: none;
		font-size: 16px;
		color: #51565d;
		outline: none;
	}
	#searchform #searchsubmit {
		position: absolute;
		top: 0;
		right: 0;
		height: 51px;
		width: 50px;
		line-height: 52px;
		text-align: center;
		display: block;
		border: 0;
		background-color: #c1ddfc;
		background-image: url('images/search-icon.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 35px 35px;
		text-indent: -9999px;
		outline: none;
		overflow: hidden;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	#searchform #searchsubmit:hover,
	#searchform #searchsubmit:focus {
		background-color: #fff;
	}
	.post-pagination {
		border-top: 1px solid #cfd9e5;
		padding-top: 30px;
	}
	
	
/*  ==========================================================================
	Testimonials
	========================================================================== */		
	.testimonial-col,
	.grid-sizer {
		width: 40%;
		margin: 0 5% 50px;
		float: left;
	}
	.testimonial-content {
		padding: 20px;
		margin: 10px 10px 30px;
		position: relative;
		display: inline-block;
	}
	.testimonial-content p {
		font-style: italic;
	}
	.testimonial-content p:last-child {
		margin-bottom: 0;
	}
	.testimonial-content:before,
	.testimonial-content p:last-child:after {
		position: absolute;
		font-size: 18px;
	}
	.testimonial-content:before {
		content: '"';
		top: 15px;
		left: 15px;
	}
	.testimonial-content p:last-child:after {
		content: '"';
		bottom: 20px;
	}
	.post-type-archive-testimonials .property-preview:after {
		display: none;
	}
	
	
/*  ==========================================================================
	Our Properties
	========================================================================== */	
	.property-wrapper {
		margin-bottom: 120px;
	}
	.property-slider {
		margin: 0 0 20px;
	}
	.property-slider img {
		width: 100%;
		height: auto;
	}
	.property-slider-nav .slick-dots {
		display: none !important;	
	}
	.property-slider-nav .slick-slide {
		margin: 0 5px;
		cursor: pointer;
	}
	.property-slider-nav .slick-next {
		right: 0;
	}
	.property-slider-nav .slick-prev {
		left: 0;
	}
	.property-slider-nav .slick-prev,
	.property-slider-nav .slick-next {
		color: #fff;
		background-color: #114279;
		padding: 10px;
		font-size: 40px !important;
	}
	.property-intro ul {
		margin: 0 40px 40px;
	}
	.guide-price {
		font-size: 22px;
		display: block;
		margin-bottom: 60px;
		color: #114279;
	}
	.guide-price strong {
		font-weight: bold;
		font-size: 26px;
	}
	.property-contact-box {
		margin: 60px 0 80px;
	}
	.property-contact-box span.red-bg {
		display: block;
		padding: 20px;
		font-size: 24px;
		line-height: 28px;
		color: #fff;
		text-align: center;
	}
	.property-contact-box .inner-padding {
		padding: 30px;
	}
	.property-contact-box .inner-padding ul {
		margin: 0;
	}	
	.property-contact-box .inner-padding ul li {
		list-style-type: none;
		line-height: 28px;
		margin-bottom: 18px;
	}
	.property-contact-box .inner-padding ul li:last-child {
		margin-bottom: 0;
	}
	.property-contact-box .inner-padding ul li i {
		color: #ce2933;
	}
	.contact-name {
		font-size: 32px;
		line-height: 26px;
		display: block;
		margin-bottom: 30px;
	}
		
	/* For Sale */
	.navigation {
		padding: 40px 0;
		clear: both;
		width: 60%;
		float: right;
		
	}
	.property-list {
		border-bottom: 1px solid #e7eaed;
		margin-bottom: 60px;
		position: relative
	}
	.property-count {
		float: left;
		padding: 40px 0 5px;
		font-size: 24px;
		line-height: 45px;
	}
	.property-list article {
		margin-bottom: 40px;
	}
	.property-thumb {
		width: 30%;
		margin-bottom: 0;
		position: relative;
	}
	.property-thumb .guide-price {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #ce2933;
	    color: #fff;
	    font-size: 22px;
	    line-height: 22px;
	    padding: 10px 20px;
	    z-index: 100;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	    margin-bottom: 0;
	}
	.property-preview-content header {
		margin-bottom: 30px;
	}
	.property-preview-content h1 {
		font-size: 26px;
		line-height: 30px;
		margin: 0 0 30px;
	}
	.property-preview-content h1 a {
		font-weight: normal;
		font-size: 30px;
		font-family:"Frutiger LT W04_45 Light", Tahoma, Helvetica, Arial, sans-serif;

	}
	.property-preview-content .subtitle {
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
	}
	.video-link {
		padding-left: 40px;
		position: relative;
		margin-left:50px;
		line-height: 48px;
		font-size: 16px;
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
	}
	.video-link:after {
		content: "\f01d";
		font-family: FontAwesome;
		font-size: 28px;
		color: #ce2933;
		position: absolute;
		left: 0;
		top: 0;
	}
		
	/* Filters */
	.filter-bar {
		padding: 0 0 20px;
		border-bottom: 1px solid #e7eaed;
		position: relative;
		z-index: 1000;
	}
	.filter-bar li {
		list-style-type: none;
	}
	.current-filters {
		clear: left;
		margin-bottom: 40px;
	}
	.current-filters li {
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
		margin-right: 40px;
	}
	.taxonomy-drilldown-reset {
		display: none;
	}
	.filter-bar h3 {
		float: left;
	    line-height: 60px;
	    font-size: 22px;
	    position: relative;
	    color: #56677a;
	    margin-right: 40px;
	}
	.taxonomy-drilldown-checkboxes {
		float: left;
		width: 90%;
	}
	.taxonomy-drilldown-checkboxes > div {
		position: relative;
	}
	.taxonomy-drilldown-checkboxes > div {
		width: 28%;
		margin-right: 2%;
		float: left;
	}
	.taxonomy-drilldown-checkboxes > div h4 {
		display: block;
	    width: 100%;
	    font-size: 22px;
	    line-height: 60px;
	    padding: 0 90px 0 20px;
	    background: #e4ebf3;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    cursor: pointer;
	    position: relative;
	    margin: 0;
	    color: #56677a;
	}
	.taxonomy-drilldown-checkboxes > div h4:before {
	    content: '';
	    position: absolute;
	    top: 6px;
	    right: 0;
	    background: url(images/filter_arrow.png) center center no-repeat;
	    display: block;
	    width: 63px;
	    height: 49px;
	    border-left: 1px solid #c0cddc;
	}
	.taxonomy-drilldown-checkboxes > div ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #e4ebf3;
		border: 1px solid #e7eaed;
		border-top: 1px solid rgba(0,0,0,0.1);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	    box-sizing: border-box;
	    display: none;
	    padding: 20px 0;
	}
	.taxonomy-drilldown-checkboxes > div ul.open {
		display: block;
	}
	.taxonomy-drilldown-checkboxes > div ul label {
		color: #56677a;
		font-size: 18px;
		line-height: 24px;
	}
	.taxonomy-drilldown-checkboxes > div ul .term-item {
		padding: 4px 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	    box-sizing: border-box;
	    width: 100%;
	}
	.taxonomy-drilldown-checkboxes > div#terms-location ul {
		width: 317%;
	}
	.taxonomy-drilldown-checkboxes > div#terms-location ul .term-item  {
		width: 33.333333%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 4px 20px;
	    border-right: 3px solid #d5dfea;
	}
	.taxonomy-drilldown-checkboxes > div#terms-location ul .term-item:nth-child(3n) {
		border-right: none;
	}
	.taxonomy-drilldown-checkboxes p  {
		margin: 0 !important;
	}
	.taxonomy-drilldown-checkboxes p input {
		color: #fff;
	    padding: 0 25px;
	    line-height: 60px;
	    border-radius: 0;
	    background: #114279;
	    float: left;
	    vertical-align: middle;
	    zoom: 1;
	    text-align: center;
	    margin: 0;
	    font-size: 16px;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	    cursor: pointer;
	    border: none;
	    outline: none;
	    -webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.taxonomy-drilldown-checkboxes p input:hover,
	.taxonomy-drilldown-checkboxes p input:focus {
		background-color: #ce2933;
	}
	.filter-reset {
		position: absolute;
		top: -40px;
		right: 0;
	}
	#terms-property-status {
		display: none;
	}

	
	
	/* Pagination */
	.wp-paginate {
		float: right;
	}
	.wp-paginate li {
		display: inline-block;
		zoom:1; *display: inline; _height: 45px;
		margin-left: 10px;
	}
	.wp-paginate li span,
	.wp-paginate li a {
		height: 45px;
		width: 45px;
		line-height: 45px;
		text-align: center;
		background-color: #e6eef7;
		color: #114279;
		display: block;
		font-weight: normal;
	}
	.wp-paginate li a:hover,
	.wp-paginate li a:focus {
		background-color: #a8c5e5;
	}
	.wp-paginate li span.current {
		background-color: #a8c5e5;
		color: #fff;
	}
	
	
	/* Single property */
	.property-video {
		color: #114279;
		font-size: 20px;
		line-height: 30px;
		vertical-align: middle;
	}
	.property-video i {
		font-size: 31px;
		line-height: 30px;
		color: #ce2933;
		margin: 0 10px 0 0;
	}
	.forsale-property-content {
		position: relative;
	}
	.forsale-property-content #tabs .ui-tabs-nav {
		position: absolute;
		top: -48px;
		margin-bottom: 0;
	}
	.forsale-property-content #tabs .ui-tabs-nav li {
		display: inline-block;
		zoom:1; *display: inline; _height: 50px;
	}
	.forsale-property-content #tabs .ui-tabs-nav li a {
		padding: 10px 20px;
		display: block;
		background-color: #114279;
		color: #fff;
	}
	.forsale-property-content #tabs .ui-tabs-nav li a:hover,
	.forsale-property-content #tabs .ui-tabs-nav li a:focus {
		background-color: #356aa5;
	}
	.forsale-property-content .ui-tabs-active:after {
		display: none;
	}
	.forsale-property-content #tabs .ui-tabs-nav li.ui-state-active a {
		background-color: #fff;
		color: #114279;
	}
	.forsale-property-content #tabs .ui-tabs-panel {
		padding: 70px 0;
	}
	.sidebar-block {
		margin-bottom: 60px;
	}
	.sidebar-block ul {
		margin: 0 0 0;
	}
	.sidebar-block ul li {
		list-style-type: none;
		position: relative;
		padding-left: 25px;
	}
	.sidebar-block ul li:before {
		content: "\f111";
		font-family: FontAwesome;
		color: #ce2933;
		font-size: 8px;
		position: absolute;
		top: 50%;
		margin-top: -13px;
		left: 0;
	}
	.sidebar-block span {
		display: block;
		color: #51565d;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	.sidebar-block span strong {
		color: #114279;
	}
	.sidebar-block.inner-padding {
		padding: 30px !important;
	}
	.back-link {
		margin: 0 0 100px;
		display: block;
		font-size: 20px;
	}
	
	
	
	/* Mortgage Caluclator */
	.calculator-block ul li {
		font: 20px 'Frutiger_roman';
		padding: 17px 30px 0 0;
		float: left;
		width: 67%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.calculator-block ul li:before {
		display: none;
	}
	.calculator-block ul li:nth-child(2n) {
		width: 33%;
		padding-right: 0;
	}
	.calculator-block ul li:nth-last-child(2) {
		width: 55%;
	}
	.calculator-block ul li:last-child {
		width: 45%;
	}
	.calculator-block ul li:last-child .button {
		padding: 0;
		width: 100%;
		height: 60px;
	}
	.calculator-block ul li label {
		display: block;
		padding-bottom: 17px;
		font-size: 20px;
	}
	.calculator-block ul li input[type="text"] {
		background: #fff;
		color: #47515e;
		font-size: 22px;
	    border: none;
	    background: #e4ebf3;
	    height: 62px;
	    width: 100%;
	    padding: 0 22px;
	    color: #114279;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.calculator-block p {
		padding: 40px 0 0 0;
		clear: both;
		margin-bottom: 0;
		color: #114279;
	}
	.calculator-block p strong {
		font-size: 32px;
		color: #114279
	}
	#mortgage_repayment,
	#stamp_duty {
		display: inline-block;
		zoom:1; *display: inline; _height: 50px;
		font-size: 32px;
		color: #114279
	}
	.calculator-block .calc-intro-text {
		padding:0;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 24px;
	}
	
	
	
/*  ==========================================================================
	Contact Page
	========================================================================== */	
	#site-footer .gfield_label {
		display: none;
	}
	.gform_wrapper {
		margin: 0;
	}
	.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url],
	.gform_wrapper textarea.medium {
		background-color: #e4ebf3 !important;
		padding: 30px !important;
		font-size: 16px !important;
		line-height: 18px !important;
		border: none !important;
		width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #51565d !important;
	}
	#site-footer .gform_wrapper input[type=text] {
		padding: 0 10px !important;
		line-height: 50px !important;
	}
	#site-footer .inner-footer-bar .col3.last h3 {
		font-size: 22px;
		text-align: right;
	}
	.gform_wrapper form li, .gform_wrapper li {
		margin-bottom: 20px 
	}
	#contact-page .contact-details {
		padding: 30px 0;
		margin: 33px 0;
		border-top: 1px solid #6585a9;
		border-bottom: 1px solid #6585a9;
	}
	#contact-page .contact-details li {
		padding-left: 40px;
		position: relative;
		list-style-type: none;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 28px;
		color: #51565d;
	}
	#contact-page .contact-details li:last-child {
		margin-bottom: 0;
	}
	#contact-page .contact-details li a {
		font-weight: normal;
	}
	#contact-page .contact-details li i {
		position: absolute;
		top: 0;
		left: 0;
		color: #ce2933
	}
	.footer-logos-wrap {
		display: inline-block;
		zoom:1; *display: inline; _height: 30px;
	}
	
	
	
	
	
	
	
	.gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_year label, .gform_wrapper .gfield_time_ampm label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .ginput_complex label, .gform_wrapper .instruction {
		font-size: 20px !important;
		font-weight: 700 !important;
	}
	.gform_wrapper .gfield_required {
		display: none;
	}

/*  ==========================================================================
	Contact Page
	========================================================================== */	
	
	
	
	
	
/*  ==========================================================================
	Contact Form 7 Styling
	========================================================================== */		
	div.wpcf7-mail-sent-ok {
	    background-color: #32cf4e !important;
	    border: none !important;
	    color: #fff !important;
	    font-weight: bold !important;
	    font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	} 
	div.wpcf7-response-output {
	    position: relative !important;
	    bottom: 0px !important;
	    left: 0 !important;
	    width: 90% !important;
	    padding: 20px 5% !important;
	    text-align: center;
	    margin: 0 !important;
	}
	div.wpcf7-validation-errors,
	span.wpcf7-not-valid-tip {
	    background-color: #ce2933 !important;
	    border: none !important;
	    color: #fff !important;
	    font-weight: bold !important;
	    font-family:"Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
	}
	span.wpcf7-not-valid-tip {
	    top: 26px !important;
	    left: 0 !important;
	    padding: 0 3% !important;
	    text-align: center !important;
	    width: 94% !important;
	    height: 3px;
	    text-indent: -9999px;
	    overflow: hidden;
	}
	.col3.right p {
		color: #114279;
		font-size: 24px;
		line-height: 35px;
	}
	.col3.right li {
		color: #114279;
		font-size: 24px;
		line-height: 35px;
		list-style: none;
	}
	.property_bullets li::before{
		content: "•";
		margin-right: 10px;
		color: #ce2933;
	}
	#gform_confirmation_message_2 {
		font-size: 26px;
		font-weight: bold;
	}
	.map-content-inner strong {
		color: #114279;
	}
	.map-content-inner p {
		color: #114279;
	}
	.map-content-inner .fa {
		margin-right: 10px;
		color: #ce2933;
	}
	.gform_confirmation_message_3 {
		font-size: 25px;
	}