/*  ==========================================================================
	Responsive Styling
	========================================================================== */		
	@media only screen and ( max-width: 1500px ) {
		p, address, blockquote, pre, h1, h2, h3, h4, h5, h6 {
			margin-bottom: 30px;
		}
		.menu-home-primary-menu-container .menu li a {
			font-size: 14px;
		}
		.menu-home-primary-menu-container .menu li {
			padding: 0 10px;
		}
		.col3 > .inner-padding {
			padding: 0 5%;
		}
		.intro, .gform_description {
		    font-size: 20px;
		    line-height: 26px;
		}
		h1 {
		    font-size: 32px;
		    line-height: 36px;
		    margin-bottom: 20px;
		}
		h2 {
		    font-size: 32px;
		    line-height: 36px;
		}
		h3 {
		    font-size: 26px;
		    line-height: 30px;
		}
		.property-button {
			top: 5px;
			bottom: auto;
		}
		.property-preview {
			padding: 20px 20px 50px;
		}
		.property-preview h3,
		.related-posts-wrap article h2 {
			font-size: 20px;
			line-height: 22px;
		}
		.property-status-sold .property-preview {
			padding-bottom: 20px;
		}
		.property-status-sold h3 {
			margin-right: 0;
		}
		.property-label span {
			font-size: 15px;
		}
		.icon-title {
			background-size: 50px auto;
			padding-top: 70px;
		}
		.heading-icon {
			width: 50px;
		}
		.block-padding {
			padding: 70px 0;
		}
		.alert-text,
		.price {
			font-size: 18px;
			line-height: 22px;
		}
		p, blockquote, li {
	    	font-size: 17px;
			line-height: 24px;
	    }
	    .acf-map {
		    height: 600px;
	    }
	    #site-footer .inline-content span {
		    display: none;
	    }
	    .inner-footer-bar .col3 h3 {
		    margin-bottom: 22px;
	    }
	    .property-preview-content h1 {
		    margin: 10px 0 20px;
	    }
	    .slide-overlay-inner p {
		    font-size: 17px;
		    line-height: 23px;
	    }
	    #fullheight-slider .slick-arrow {
		    top: auto;
		    bottom: 60px;
		    -webkit-transform: none;
		    -ms-transform: none;
		    transform: none;
	    }
	    .col4 .slide-overlay-inner p {
		    line-height: 20px;
		    font-size: 15px;
	    }
	    .filter-bar h3 {
		    line-height: 30px;
	    }
	    .taxonomy-drilldown-checkboxes {
		    clear: left;
	    }
	    #next-section-toggle {
		    padding-bottom: 30px;
	    }
	    .taxonomy-drilldown-checkboxes p input {
			position: absolute;
			right: 0;
			bottom: 20px;
			float: none;
		}
		.filter-reset {
			top: 0;
		}
		.forsale-property-content #tabs .ui-tabs-nav {
			top: -44px;
		}
		.gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_year label, .gform_wrapper .gfield_time_ampm label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .ginput_complex label, .gform_wrapper .instruction {
			font-size: 17px !important;
		}
	}
	@media only screen and ( max-width: 1400px ) {
		.calculator-block ul li label {
			font-size: 16px;
		}
		.calculator-block ul li,
		.calculator-block ul li:nth-child(2n),
		.calculator-block ul li:nth-last-child(2) {
			width: 100%;
			padding: 10px 0 0;
		}
		.calculator-block ul li label {
			padding-bottom: 5px;
		}
		#contact-page .width-14 {
			width: 30%;
		}
		.single-team-member {
			margin-bottom: 60px;
		}
		.profile-image {
			width: 30%;	
		}
		.profile-content {
			width: 70%;
		}
		.profile-contact {
			width: 70%;
			padding-top: 0;
		}
	}
	@media only screen and ( max-width: 1220px ) {
		.menu-bottom-bar-menu-container {
			float: none;
			text-align: center;
		}
		.bottom-bar img.left {
			float: none;
			text-align: center;
			display: inline-block;
			margin: 0 auto 20px;
		}
		.footer-logos-wrap {
			display: block;
			float: none;
			text-align: center;
			vertical-align: top;
		}
		.footer-logos-wrap .left {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.taxonomy-drilldown-checkboxes > div h4 {
			font-size: 18px;
			line-height: 60px;
		}
		.alert-contact li a {
			font-size: 18px;
			line-height: 30px;
		}
		.map-content-inner .intro {
		    line-height: 30px;
		    font-size: 24px;
		}
		.block-padding {
			padding: 50px 0;
		}
		.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper textarea.medium {
			padding: 20px !important;
		}
		.gform_wrapper form li, .gform_wrapper li {
			margin-bottom: 10px;
		}
		.col4 {
			width: 33.333333%;
		}
		.testimonial-col {
			width: 46%;
			margin: 0 2% 40px;
		}
		.property-thumb {
			width: 40%;
		}
		.property-preview-content {
			width: 56%;
		}
		.outer-wrapper {
			width: 94%;
		}
		.property-preview-content h1 {
			margin-top: 0;
		}
		.property-preview-content header {
			margin-bottom: 20px;
		}
		.navigation {
			width: 100%;
			padding: 20px 0 20px;
		}
		.inner-footer-bar .inline-content {
			clear: both;
			float: left;
			margin-top: 20px;
		}
		.bordered-circle {
			border-width: 20px;
			height: 220px;
			width: 220px;
		}
		.menu-home-secondary-menu-container {
			text-align: center;
		}
	}
	@media screen and (max-width: 1024px) , screen and (max-height: 750px) {	
		.slider-content {
			width: 100%;
			padding: 40px;
			background-color: rgba(219, 232, 247, 0.8);
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			bottom: 20px;
			top: auto;
			text-align: center;
		}
		.slider-content h2 {
			margin: 10px auto 30px;
			float: none;
			line-height: 42px;
		}
		.slider-content .button {
			float: none;
			font-family: "Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
			font-size: 23px;
		}
		.button, .wpcf7-submit, .button-wrapper a {
			font-family: "Frutiger LT W04_65 Bold", Tahoma, Helvetica, Arial, sans-serif;
			font-size: 23px;
		}
		#fullheight-slider .slick-arrow {
			font-size: 50px !important;
			bottom: 60px;
		}
		#fullheight-slider .slick-next {
			right: 90px;
		}
		#fullheight-slider .slick-prev {
			left: 90px;
		}
		#next-section-toggle {
			display: none;
		}
	}	
	@media only screen and ( max-width: 1024px ) {
		#next-section-toggle {
			display: none;
		}
		#mobile-menu-toggle {
			display: block;
		}
		#side-navigation {
			display: block;
		}
		#side-navigation > .menu {
			margin-top: 60px;
		}
		.menu-home-primary-menu-container  {
			float: none;
			text-align: left;
			display: none;
		}
		.menu-home-primary-menu-container.moved {
			display: block;
			margin-bottom: 80px;
		}
		.menu-home-primary-menu-container .menu li {
			display: block;
			padding: 0;
		}
		.menu-home-primary-menu-container .menu li a {
			padding: 15px 20px;
			position: relative;
		}
		.home .menu-home-primary-menu-container .menu li .sub-menu,
		.home .menu-home-primary-menu-container .menu li .sub-menu .sub-menu,
		.menu-home-primary-menu-container .menu li .sub-menu,
		.menu-home-primary-menu-container .menu li .sub-menu .sub-menu {
			display: block;
			position: relative;
			width: 100%;
			margin: 0;
			bottom: auto;
			top: auto;
			left: auto;
			right: auto;
			border: none;
			background-color: rgba(0,0,0,0.05);
		}
		.menu-home-primary-menu-container .menu li .sub-menu li {
			border-bottom: none;
		}
		.menu-home-primary-menu-container .menu li .sub-menu a {
			padding: 15px 30px;
		}
		.menu-home-primary-menu-container .menu li .sub-menu .sub-menu a {
			padding: 15px 40px;
		}
		.home .menu-home-primary-menu-container .menu li .sub-menu:after,
		.menu-home-primary-menu-container .menu li .sub-menu:after {
			display: none;
		}
		.navy-bg a:hover, .navy-bg a:focus, .menu-home-primary-menu-container .menu li.current-menu-item > a {
			color: #fff;
		}
		.menu-home-primary-menu-container .menu li.current-menu-item > a:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 0 15px 15px;
			border-color: transparent transparent transparent #ffffff;
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			  -ms-transform: translateY(-50%);
			      transform: translateY(-50%);
		}
		.menu-home-primary-menu-container .menu li.current-menu-ancestor > a:before,
		.menu-home-primary-menu-container .menu li.current-menu-item > a:after {
			display: none;
		}
		.parallax-image {
			display: none !important;
		}
		.related-posts-wrap .col3 {
			width: 94%;
			margin: 0 auto 40px;
			max-width: 600px;
			float: none;
		}
		.related-posts-wrap .col3:last-child {
			margin-bottom: 0;
		}
		.related-posts-wrap .matchHeight {
			height: auto !important;
		}
		#blog-wrapper .width-34 {
			width: 100%;
		}
		#blog-sidebar {
			width: 100%;
			margin-top: 50px;
		}
		.areas-wrapper {
			width: 100%;
		}
		.main-footer-menu {
			width: 70%;
		}
		.footer-address {
			width: 30%;
		}
		#site-footer .menu-footer-menu-container li {
			margin-bottom: 10px;
		}
		#site-footer .menu-footer-menu-container {
			margin-bottom: 30px;
		}
		.inner-footer-bar .col3.left,
		.inner-footer-bar .inline-content {
			width: 60%;
		}
		.property-preview-content h1 {
			font-size: 22px;
			line-height: 26px;
		}
		.property-preview-content .subtitle {
			font-size: 18px;
			line-height: 24px;
		}
		p, blockquote, li {
			font-size: 15px !important;
			line-height: 19px !important;
		}
		.post-2 .size-full {
			width: 100%;
			height: auto;
			max-width: 650px;
			margin: 0 auto 30px;
			float: none;
		}
		.post-content h2 {
			margin-bottom: 10px;
		}
		
		.column-wrapper .col3 {
			width: 46%;
			margin: 0 2% 30px;
		}
		.column-wrapper li:nth-child(2n+1) {
			clear: left;
		}
		.column-wrapper li:nth-child(3n+1) {
			clear: none;
		}
		.bordered-circle {
			margin-bottom: 10px;
		}
		#map-block .map-content {
			float: none;
			width: 100%;
			height: auto;
		}
		.map-content-inner {
			max-width: 100%;
			padding-bottom: 25px;
			margin-top: 195px;
		}
		.contact-form-wrap,
		#contact-page .width-14 {
			width: 100%;
		}
		#contact-page .width-14 {
			margin-top: 40px;
		}
		.property-wrapper .col3 {
			width: 50%;
		}
		.col4 .property-preview h3 {
			font-size: 16px;
			line-height: 20px;
		}
		.property-intro .col3,
		.property-wrapper {
			width: 100%;
			max-width: 700px;
			margin: 0 auto 20px;
			float: none;
		}
		.property-wrapper {
			margin-bottom: 40px;
		}
		h1 {
		    font-size: 28px;
		    line-height: 32px;
		    margin-bottom: 20px;
		}
		h2 {
			font-size: 26px;
			line-height: 30px;
		}
		h3 {
		    font-size: 24px;
		    line-height: 28px;
		}
		h4 {
			font-size: 20px;
			line-height: 24px;
		}
		h5 {
			font-size: 18px;
			line-height: 22px;
		}
		h6 {
			font-size: 16px;
			line-height: 20px;
		}
		.intro, .gform_description {
			font-size: 17px;
			line-height: 21px;
		}
		.property-contact-box span.red-bg {
			font-size: 20px;
		}
		.property-contact-box .inner-padding ul {
			margin-top: 0;
		}
		.large-padding {
			padding: 60px 0;
		}
		#map-block .map-wrapper {
			width: 100%;
			height: 400px;
			float: none;
		}
		.map-content-inner .intro {
			font-size: 20px;
			line-height: 26px;
		}
		.slider-content h4 {
			margin-bottom: 20px;
		}
		.taxonomy-drilldown-checkboxes p input {
			line-height: 50px;
		}
		.intro-block p:last-child {
			margin-bottom: 0;
		}
		#testimonial-slider .slick-dots {
			bottom: -90px;
		}
		#about-intro {
			padding-bottom: 80px;
		}
		.blog-title {
			margin-bottom: 40px;
		}
		.guide-price {
			margin-bottom: 30px;
		}
		.forsale-property-content #tabs .ui-tabs-nav {
		    top: -41px;
		}
		.sidebar-block.inner-padding {
			padding: 20px !important
		}
		.calculator-block h4 {
			margin-bottom: 10px;
		}
		.alert-text {
			margin-right: 0;
		}
		.contact-name {
			margin-bottom: 20px;
		}
		.our-properties img.icon {
			display: none;
		}
		.sidebar-block span {
			font-size: 15px;
		}
		.gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_year label, .gform_wrapper .gfield_time_ampm label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .ginput_complex label, .gform_wrapper .instruction {
			font-size: 15px !important;
		}
	}
	@media only screen and ( max-width: 768px ) {
		#site-header {
			position: fixed !important;
		}
		.home #site-header {
			position: relative !important;
		}
		.home #site-header.fixed {
			position: fixed !important;
		}
		#page-header {
			padding-top: 120px !important;
		}
		p, address, blockquote, pre, h1, h2, h3, h4, h5, h6 {
			margin-bottom: 20px;
		}
		.home #secondary-navigation,
		#secondary-navigation {
			position: relative;
			text-align: left;
		}
		#secondary-navigation {
			display: none;
		}
		#secondary-navigation.moved {
			display: block;
		}
		#side-navigation .menu {
			margin-bottom: 0;
		}
		#secondary-navigation {
			background-color: transparent;
		}
		#secondary-navigation .outer-wrapper {
			width: 100%;
		}
		#secondary-navigation .menu li {
			display: block;
			margin: 0;
		}
		.menu-home-secondary-menu-container {
			text-align: left;
		}
		#secondary-navigation .menu li a {
			padding: 15px 20px;
			font-size: 14px;
			border-right: none;
			background-color: transparent;
			color: #fff !important;
		}
		#secondary-navigation.lightblue-bg #menu-item-108 a:before, #secondary-navigation.lightblue-bg #menu-item-109 a:before {
			color: #fff;
		}
		#menu-item-109,
		#menu-item-108 {
			display: none !important;
		}
		.icon-title {
			font-size: 26px;
			line-height: 30px;
			margin-top: 20px;
		}
		.property-button {
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			display: block;
			position: relative;
			margin: 0 auto;
		}
		.property-preview-content,
		.property-thumb {
			width: 100%;
			max-width: 500px;
			margin: 0 auto 20px !important;
			float: none;
		}
		.property-count {
			padding-top: 0;
			font-size: 18px;
		}
		.slider-content h2 {
			font-size: 30px;
			line-height: 36px;
		}
		.menu-home-primary-menu-container .menu li.current-menu-item > a:after {
			display: none;
		}
		#testimonial-slider .slick-slide, .testimonials-inner {
			padding: 0 100px;
		}
		#testimonial-slider .slick-slide:before, #testimonial-slider .slick-slide:after, .testimonials-inner:before, .testimonials-inner:after {
			height: 50px;
			width: 50px;
		}
		#testimonial-slider .slick-slide:before, .testimonials-inner:before {
			left: 0;
		}
		#testimonial-slider .slick-slide:after, .testimonials-inner:after {
			right: 0;
		}
		#contact-bar h3 {
			font-size: 18px;
		}
		.taxonomy-drilldown-checkboxes {
			width: 100%;
			z-index: 4000;
		}
		.taxonomy-drilldown-checkboxes > div {
			width: 100%;
			margin: 0 0 10px;
		}
		.taxonomy-drilldown-checkboxes > div#terms-location ul,
		.taxonomy-drilldown-checkboxes > div ul {
			width: 100%;
			z-index: 3000;
		}
		.taxonomy-drilldown-checkboxes > div#terms-price ul {
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
		    -moz-column-count: 2; /* Firefox */
		    column-count: 2;
		    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		    -moz-column-gap: 40px; /* Firefox */
		    column-gap: 40px;
		}
		.taxonomy-drilldown-checkboxes p input {
			position: relative;
			bottom: auto;
		}
		.taxonomy-drilldown-checkboxes > div h4 {
			font-size: 15px;
			z-index: 2000;
			line-height: 50px;
		}
		.taxonomy-drilldown-checkboxes > div h4:before {
			top: 0;
			height: 50px;
		}
		.taxonomy-drilldown-checkboxes > div ul label {
			font-size: 15px;
			line-height: 22px;
		}
		.menu-areas-menu-container .menu li {
			width: 33.33333%;
		}
		.wp-paginate li {
			margin-left: 5px;
		}
		.wp-paginate li span, .wp-paginate li a {
			height: 35px;
			width: 35px;
			line-height: 35px;
		}
		#site-footer .social-links li a {
			height: 40px;
			width: 40px;
			line-height: 40px;
			font-size: 24px;
		}
		.two-columns {
			-webkit-column-count: 1;
		    -moz-column-count: 1;
		    column-count: 1;
		    -webkit-column-gap: 0;
		    -moz-column-gap: 0;
		    column-gap: 0;
		}
		.menu-bottom-bar-menu-container li a {
			font-size: 13px;
		}
		.post-thumbnail,
		.post-content {
			width: 100%;
			max-width: 500px;
			margin: 0 auto 20px !important;
			float: none;
			padding: 0;
		}
		.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper textarea.medium {
			padding: 10px 15px !important;
		}
		.inner-footer-bar .logo-link {
			max-width: 160px;
		}
		#site-footer {
			margin-bottom: 0 !important;
		}
		.alertbar {
			position: relative;
			padding: 20px 0;
		}
		#overview .width-60 {
			width: 100%;
			margin-bottom: 40px;
			float: none;
		}
		#overview .col3 {
			width: 100%;
			float: none;
		}
		.back-link {
			font-size: 17px;
			margin-bottom: 40px;
		}
		.forsale-property-content #tabs .ui-tabs-panel {
			padding: 40px 0;
		}
		.sidebar-block {
			margin-bottom: 40px;
		}
		.calculator-block ul li input[type="text"] {
			line-height: 40px;
			height: 40px;
		}
		.property-wrapper {
			margin-bottom: 40px;
		}
		#floorplans img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
		.small-padding {
			padding: 20px 0;
		}
		#site-footer {
			padding: 40px 0 0;
		}
		.areas-wrapper small {
			display: block;
		}
		.testimonial-col,
		.property-wrapper .col3 {
			width: 100%;
			max-width: 768px;
			margin: 0 auto 20px !important;
			float: none;
		}
		.slickcarousel .slick-arrow {
			top: 100%;
			margin-top: 25px;
			color: #114279;
			font-size: 40px !important;
		}
		.col4.our-properties {
			width: 50%;
		}
		.alert-contact {
			margin-top: 20px;
		}
		.map-content-inner {
			padding: 30px;
			margin-top: 195px;
		}
		#blog-wrapper article {
			margin-bottom: 20px;
		}
		.single-team-member {
			margin-bottom: 40px;
		}
		.slide-overlay-inner p,
		.read-more {
			font-size: 15px;
			line-height: 19px;
		}
	}

	@media only screen and ( max-width: 600px ) {
		.map-content-inner {
			margin-top: 0;
		}
	}
	
	@media only screen and ( max-height: 600px and min-width: 1200px ) {
		.slider-content {
			position: relative;
			right: auto;
			bottom: auto;
			margin: 100px 0;
		}
		.browser-height {
			height: auto !important;
		}
	}
	
	@media only screen and ( max-width: 600px ) {
		.slider-content {
			position: relative;
			right: auto;
			bottom: auto;
			margin: 100px 0;
		}
		.browser-height {
			height: auto !important;
		}
		#fullheight-slider {
			min-height: 0;
		}
		#fullheight-slider .slick-arrow {
			display: none !important;
		}
		.menu-bottom-bar-menu-container li {
			display: block;
			text-align: center;
			padding-left: 0;
			margin-left: 0;
		}
		.menu-bottom-bar-menu-container li:after {
			display: none;
		}
		.menu-bottom-bar-menu-container li a {
			display: block;
			padding: 5px 0;
		}
		.menu-areas-menu-container .menu li {
			width: 50%;
			margin-bottom: 5px;
		}
		.areas-wrapper {
			margin-bottom: 60px;
		}
		#site-footer .menu-footer-menu-container li {
			margin-bottom: 5px;
		}
		#site-footer .menu-footer-menu-container {
			-webkit-column-gap: 0;
			-moz-column-gap: 0;
			column-gap: 0;
		}
		#contact-bar .button {
			display: block;
			margin: 10px 0 0;
		}
		.logo-link,
		#site-header.fixed.reduced .logo-link {
			width: 140px;
		}
		#mobile-menu-toggle {
			margin-top: 0;
		}
		.inner-footer-bar .col3.left, .inner-footer-bar .inline-content {
			width: 100%;
			margin: 0 0 20px;
			text-align: center;
			float: none;
		}
		.inner-footer-bar .col4.right {
			float: none;
			margin: 50px auto 50px;
			display: block;
			clear: both;
		}
		.inner-footer-bar .logo-link {
			float: none;
			margin: 0 auto;
			display: block;
		}
		.bordered-circle {
		    border-width: 10px;
		    height: 180px;
		    width: 180px;
		}
		.column-wrapper li p {
			max-width: 94%;
			margin: 0 auto;
		}
		.bordered-circle h3 {
			font-size: 24px;
			line-height: 28px;
		}
		.acf-map {
		    height: 400px;
	    }
	    .main-footer-menu {
			width: 100%;
		}
		.footer-address {
			width: 100%;
			font-size: 16px;
			line-height: 26px;
		}
	}
	
	@media only screen and ( max-width: 550px ) {
		.video-link {
			margin-left: 0;
			clear: left;
			display: block;
			margin-top: 20px;
		}
		.property-preview-content .button {
			float: none;
		}
		.forsale-property-content #tabs .ui-tabs-nav li a {
			padding: 10px 10px;
		}
	}	
		
	@media only screen and ( max-width: 479px ) {
		.profile-image img {
			min-height: 0;
			height: auto;
		}
		.col4.our-properties {
			width: 100%;
		}
		.col3 > .inner-padding {
			padding: 0;
		}
		.forsale-property-content #tabs .ui-tabs-nav {
		    top: -37px;
		}
		.footer-logos-wrap .left {
			margin-right: 0;
			display: block;
			margin-bottom: 10px;
		}
		#page-header {
			padding-top: 100px !important;
		}
		.block-padding {
		    padding: 30px 0;
		}
		.slider-content {
			margin: 50px 0;
		}
		#testimonial-slider .slick-slide, .testimonials-inner {
			padding: 0 50px;
		}
		#contact-bar {
			margin-top: 30px;
		}
		.property-preview-content h1 {
		    font-size: 20px;
		    line-height: 22px;
		}
		.property-preview-content .subtitle {
		    font-size: 16px;
		    line-height: 20px;
		}
		.taxonomy-drilldown-checkboxes > div#terms-location ul .term-item {
			width: 50%;
		}
		.taxonomy-drilldown-checkboxes > div#terms-location ul .term-item:nth-child(3n) {
			border-right: 3px solid #d5dfea;
		}
		.taxonomy-drilldown-checkboxes > div#terms-location ul .term-item:nth-child(2n) {
			border-right: none;	
		}
		.taxonomy-drilldown-checkboxes > div#terms-price ul {
			-webkit-column-count: 1;
		    -moz-column-count: 1;
		    column-count: 1;
		    -webkit-column-gap: 0px;
		    -moz-column-gap: 0px;
		    column-gap: 0px;
		}
		p, blockquote, li {
		    font-size: 13px;
		    line-height: 17px;
		}
		.property-thumb .guide-price {
			font-size: 18px;
			line-height: 18px;
		}
		.property-button {
			padding: 20px 0;
		}
		.slider-content {
			padding: 20px;
		}
		.slider-content h4 {
			font-size: 16px;
			line-height: 20px;
		}
		.slider-content h2 {
		    font-size: 24px;
		    line-height: 28px;
		}
		#page-header .breadcrumbs {
			margin-bottom: 10px;
		}
		h1 {
		    font-size: 24px;
		    line-height: 28px;
		}
		h2,
		.icon-title,
		.post-content h2 {
			font-size: 22px;
			line-height: 26px;
		}
		h3,
		 .related-posts-wrap article h2 {
		    font-size: 18px;
		    line-height: 22px;
		}
		h4, h5,
		.contact-name,
		.property-preview h3 {
		    font-size: 16px;
		    line-height: 20px;
		}
		h6,
		.calculator-block .calc-intro-text {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 10px;
		}
		.intro, .gform_description,
		.property-preview .subtitle,
		.alert-text, .price {
		    font-size: 15px;
		    line-height: 19px;
		}
		.map-content-inner {
			padding: 25px 25px 10px;
		}
		.property-contact-box .inner-padding {
			padding: 20px;
		}
		.property-contact-box {
			margin-top: 40px;
		}
		#page-header .breadcrumbs, #page-header .breadcrumbs span, #page-header .breadcrumbs a {
			font-size: 12px;
			line-height: 16px;
		}
		.property-wrapper {
			margin-bottom: 20px;
		}
		.property-intro ul {
			margin: 0 20px 20px;
		}
		.property-status-sold .property-preview {
			padding: 15px;
		}
		.intro-block.inner-padding {
			padding: 50px 0;
		}
		.testimonial-author {
			font-size: 15px;
			line-height: 18px;
		}
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
			letter-spacing: 0;
			line-height: 30px;
		}
		.property-contact-box .inner-padding ul li {
			font-size: 15px;
		}
		.guide-price strong {
			font-size: 22px;
		}
		.button, .wpcf7-submit, .button-wrapper a {
			min-width: 0;
		}
		#blog-sidebar {
			margin-top: 20px;
		}
		.bordered-circle {
		    border-width: 10px;
		    height: 120px;
		    width: 120px;
		}
		.profile-image {
			float: none;
			margin: 20px auto 0px auto;
			width: 50%;
			max-width: 150px;
		}
		.profile-content {
			width: 100%;
			padding: 20px;
		}
		.profile-contact {
			width: 100%;
			float: none;
			padding: 20px;
		}
		.profile-contact .contact-details {
			padding-left: 0;
			border-left: none;
			
		}
		.profile-contact .contact-details li {
			font-size: 16px;
		}
	}
	@media only screen and ( max-width: 410px ) {
		.column-wrapper .col3 {
			width: 90%;
			margin: 0 5% 30px;
			padding: 0;
		}
	}
	@media only screen and ( max-width: 350px ) {
		#site-footer .menu-footer-menu-container {
		    -webkit-column-count: 1;
		    -moz-column-count: 1;
		    column-count: 1;
	    }
	}	
